{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Register</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user" action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                {% comment %} {{form}} {% endcomment %}
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    {{form.first_name}}
                    {{form.first_name.errors}}
                  </div>
                  <div class="col-sm-6">
                    {{form.last_name}}
                    {{form.last_name.errors}}
                  </div>
                </div>
                <div class="form-group">
                  {{form.username}}
                  {{form.username.errors}}
                </div>
                <div class="form-group">
                  {{form.email}}
                  {{form.email.errors}}
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    {{form.password1}}
                    {{form.password1.errors}}
                  </div>
                  <div class="col-sm-6">
                    {{form.password2}}
                    {{form.password2.errors}}
                  </div>
                </div>
                <div class="form-group">Register As:</div>
                <div class="form-group row">
                  {% comment %} {{form.user_type}} {% endcomment %}
                  {% for radio in form.user_type %}
                  <div class="col-sm-4">
                    <div class="custom-control custom-radio">
                      {{ radio.tag }}
                      <label class="custom-control-label"
                        for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="form-group row">
                  <div class="form-group" style="display:none" id = "patient_username">
                    {{form.patient_username}}
                    {{form.patient_username.errors}}
                  </div>
                  {% comment %} <div class="col-sm-6" id="id_patient_username" style="display:none">
                    <div class="form-group">Patient Username:</div>
                    <div> 
                     
                     <input type="text" placeholder="patient username" name="patient_username"> 
                    </div>
                  </div> {% endcomment %}

                  {% comment %} <div class="col-sm-4">
                    <div class="custom-control custom-checkbox small">
                      <input type="radio" class="custom-control-input" id="type_patient" name="user_type"
                        value="patient">
                      <label class="custom-control-label" for="type_patient">Patient</label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="custom-control custom-checkbox small">
                      <input type="radio" class="custom-control-input" id="type_caregiver" name="user_type"
                        value="caregiver">
                      <label class="custom-control-label" for="type_caregiver">Caregiver</label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="custom-control custom-checkbox small">
                      <input type="radio" class="custom-control-input" id="type_doctor" name="user_type" value="doctor">
                      <label class="custom-control-label" for="type_doctor">Doctor</label>
                    </div>
                  </div> {% endcomment %}

                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Register Account
                </button>
                <hr>
                <a href="{% url 'doctor:home' %}" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a href="{% url 'doctor:home' %}" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/register.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  
</body>

</html>