{% extends "doctor/base.html" %}
{% block title %}
Profile
{% endblock title %}

{% block content %}

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'doctor:home' %}">
        <div class="sidebar-brand-icon">
          <i class="fas fa-user-check"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Doctor</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'doctor:home' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Patients</span></a>
      </li>
      
      <!-- Nav Item - Profile -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'doctor:profile' %}">
          <i class="fas fa-fw fa-list"></i>
          <span>Profile</span></a>
      </li>

      <!-- Nav Item - Calendar -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'doctor:calendar' %}">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Calendar</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Heading -->
          <h1 class="h3 ml-2 mt-2 text-gray-800">Profile Page</h1>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="row">

            <div class="col">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Profile Panel</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                  <div class="container emp-profile">
                      <form method="post">
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="profile-img">
                                      <img src="https://www.paladinahealth.com/sites/default/files/direct_primary_care_doctor_smiling.jpeg" alt="" width=200 height=130/>
                                      <div class="file btn btn-lg btn-primary">
                                          Change Photo
                                          <input type="file" name="file"/>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="profile-head">
                                              <h5>
                                                  Dr. Erica Medica
                                              </h5>
                                              <h6>
                                                  Squirrel Hill Hospital
                                              </h6>
                                              
                                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                                          <li class="nav-item">
                                              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Contact</a>
                                          </li>
                                          <li class="nav-item">
                                              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">About</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <!-- <div class="col-md-2">
                                  <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                              </div> -->
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="profile-work">
                                      <p>WORK LINK</p>
                                      <a href="">Squirrel Hill Hospital</a><br/>
                                      <a href="">Parkinson's Disease Center</a><br/>
                                      <a href="">News</a>
                                  </div>
                              </div>
                              <div class="col-md-8">
                                  <div class="tab-content profile-tab" id="myTabContent">
                                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                  <div class="row">
                                                      <div class="col-md-6">
                                                          <label>User Id</label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>ericam</p>
                                                      </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-md-6">
                                                          <label>Email</label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>ericam@shh.org</p>
                                                      </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-md-6">
                                                          <label>Phone</label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>123-456-7890</p>
                                                      </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-md-6">
                                                          <label>Office Hours</label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>10 am-4 pm, Monday-Thursday</p>
                                                      </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-md-6">
                                                          <label>Office Location</label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>101 ABC Building</p>
                                                      </div>
                                                  </div>
                                      </div>
                                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                  <div class="row">
                                                      <div class="col-md-6">
                                                          <label>Experience</label>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <p>Expert</p>
                                                      </div>
                                                  </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <label>Bio</label><br/>
                                                  <p>Dr. Erica Medica got her MD from Water Melon University School of Medicine in 1994. She has 16 years of experience in treating patients with Parkinson's Disease.</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </form>           
                  </div>

                </div>
              </div>
            </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; CMU RPCS 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
    </div>
  </div>
  <!-- End of Page Wrapper -->

{% endblock content %}